node_red_flow.json
[
    {
        "id": "9b96ef4210c3687c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9007858da113ef96",
        "type": "mqtt in",
        "z": "9b96ef4210c3687c",
        "name": "",
        "topic": "/SOLAR/msg",
        "qos": "2",
        "datatype": "json",
        "broker": "60e7a74225d5784a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "6d0a96c5978862ca",
                "a31ed814cf6cc82e",
                "11f0e988288e621a",
                "a40569dedaaee307",
                "074bd15d38df1db7"
            ]
        ]
    },
    {
        "id": "6d0a96c5978862ca",
        "type": "debug",
        "z": "9b96ef4210c3687c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "a31ed814cf6cc82e",
        "type": "function",
        "z": "9b96ef4210c3687c",
        "name": "Vsolar",
        "func": "if (msg.payload[\"DTH\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n   {V: msg.payload[\"V\"]/1023*5} \n  ]\n    \nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].V});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "6edf235fde916484",
                "6791eea71f27c445"
            ]
        ]
    },
    {
        "id": "6edf235fde916484",
        "type": "debug",
        "z": "9b96ef4210c3687c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "11f0e988288e621a",
        "type": "function",
        "z": "9b96ef4210c3687c",
        "name": "Isolar",
        "func": "if (msg.payload[\"DTH\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n   {Isolar: (msg.payload[\"I\"]/1023-2.5197)/0.0631 } \n  ]\n    \nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].Isolar});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "bdcd9eb6ae027282",
                "0792de52d03dcbb7"
            ]
        ]
    },
    {
        "id": "bdcd9eb6ae027282",
        "type": "debug",
        "z": "9b96ef4210c3687c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "a40569dedaaee307",
        "type": "function",
        "z": "9b96ef4210c3687c",
        "name": "Vbat",
        "func": "if (msg.payload[\"DTH\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n   {Vbat: msg.payload[\"bat\"]*2/1024 } \n  ]\n    \nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].Vbat});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "493d4653cf579cde",
                "bcdf88fc890b480c"
            ]
        ]
    },
    {
        "id": "493d4653cf579cde",
        "type": "debug",
        "z": "9b96ef4210c3687c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "074bd15d38df1db7",
        "type": "function",
        "z": "9b96ef4210c3687c",
        "name": "#",
        "func": "if (msg.payload[\"DTH\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n   {msg_num: msg.payload[\"#\"] } \n  ]\n    \nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].msg_num});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6791eea71f27c445",
        "type": "influxdb out",
        "z": "9b96ef4210c3687c",
        "influxdb": "77c5f6248290be97",
        "name": "Solar",
        "measurement": "Vsolar",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "0792de52d03dcbb7",
        "type": "influxdb out",
        "z": "9b96ef4210c3687c",
        "influxdb": "77c5f6248290be97",
        "name": "Solar",
        "measurement": "Isolar",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "bcdf88fc890b480c",
        "type": "influxdb out",
        "z": "9b96ef4210c3687c",
        "influxdb": "77c5f6248290be97",
        "name": "Solar",
        "measurement": "Vbat",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "60e7a74225d5784a",
        "type": "mqtt-broker",
        "name": "Hub",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "77c5f6248290be97",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "Solar",
        "name": "influxdb_solar",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    }
]
